.title{
    width: 50%;
    margin: auto;
}
.a, #header{
    width: 100%;
    height: 50px;
    background: #fae1e1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
.b{
    display: flex;
    background: silver;
}
.b>p{
    width: 60%;
    padding: 10px;
}
img{
    width: 40%;
}
